.node-card {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.node-card .text {
    display: flex;
    justify-content: center;
    font-family: "Press Start 2p", sans-serif;
    color: #A5BDC2;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 50px;
}

.node-card::before {
    content: "";
    box-sizing: border-box;
    height: 40px;
    border: 3px dashed #000;
    transform: translateY(198%);
}

.node-card .logo {
    display: flex;
    align-items: center;
    height: 140px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #A5BDC2;
    border: 5px solid #000;
}

.node-card._clean .logo {
    padding: 0;
}

.node-card._bgGm .logo {
    background-color: #22559e;
}

.node-card._bgPirelli .logo {
    background-color: #fff500;
}

.node-card .img {
    width: 140px;
    height: 140px;
}