.personal-projects {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 280px;
    background-color: #D96275 ;
    box-shadow: 10px 10px 0 whitesmoke;
}

.personal-projects._card {
    background-color: #A5BDC2;
}

.personal-projects._ment {
    background-color: #8a4c58;
}

.personal-projects .logo {
    width: 245px;
    height: 254px;
}