.skills {
    font-family: "Press Start 2p", sans-serif;
    background-color: #A5BDC2;
    color: #000;
    font-weight: 400;
    padding-top: 50px;
    border-bottom: 10px solid #D96275;
}

.skills .all-skills{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.skills .itens {
    display: flex;
    align-items: center;
    width: 436px;
    height: 90px;
    margin-left: 66px;
    margin-right: 66px;
    margin-bottom: 60px;
}

.skills .img-size {
    width: 81px;
    height: 90px;
    margin-right: 22px;
}






